.linkColor{
    color: #ff9b2a;
}
.fsAll{
    font-size: 18px;
}
.ReactModal__Content {
    max-height: 90% !important;
    z-index: 1031 !important;
}
.ReactModal__Overlay{
    z-index: 1031;;
}
.modalAddAccount{
    max-width: 500px;
    height: max-content;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid #000 !important;
}
.ReactModal__Overlay{
    background-color: rgb(0,0,0,0.5);
}
.btn-default{
    background-color: #ff9b2a;
    color:#fff;
    padding: 8px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    float: right;
}
.btn-default:hover{
    background-color: #ff9720;
    color:#fff;
    padding: 8px 20px;
    border: 1px solid #ff9720;
    border-radius: 10px;
    font-size: 16px;
}